/* 共通 */
.h2{
    font-size: 33px;
    color: #211914;
    margin: 0 auto;
    text-align: center;
}
.h3{
    /* margin: 0 0 50px; */
    font-size: 30px;
    text-align: center;
}
.h3 span{
    font-size: 15px;
    display: block;
    color: #6c6c6c;
}
.text{
    font-size: 20px;
    text-align: center;
}
.about{
    font-size: 20px;
    text-align: center;
    margin: 20px auto 15px;
}
main{
  width: 100%;
  margin: 0 auto;
  background: #f1eeed;
}
.section{
    margin: 70px 0 150px;
}
.moreBtn{
    display: block;
    text-align: center;
    width: 300px;
    background: #0f0f0f;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    max-width: 100%;
    padding: 15px 0;
    margin: 0 auto;
}
.main{
    max-width: 1072px;
    padding: 0 5px;
    margin: 0 auto;
}

/* swiperのcss */
.swiper{
  width:100%;
  padding :0 calc((100% - 1062px) / 2) !important;
}
.swiper-lazy,.swiper-done{
  aspect-ratio: 16/9;
  max-width: 1062px;
  width: 100%;
}

/* 選ばれる理由みたいなとこ */
.textList{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0;
    flex-wrap: wrap;
    row-gap: 10px;
}
.textList li{
  width: calc((100% - 20px)/4);
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #6c6c6c;
  padding: 15px 10px;
}
.textList li svg{
    margin: 0 auto;
    color: #FFF;
}
.textList li strong{
    display: block;
    font-size: 20px;
    text-align: center;
    color: #FFF;
}
.textList li p{
    text-align: center;
    color: #FFF;
    font-size: 15px;
}

/* 部屋紹介と利用案内 */
.imgList{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 20px;
    /* padding: 25px 0px 0; */
    column-gap: 10px;
}
.imgList li {
  width: calc((100% - 30px) / 4);
}
.imgList li a{
    display: block;
  color: #0f0f0f;
  font-size: 15px;
  text-decoration: none;
}
.imgList li strong{
    display: block;
    margin: 10px 0;
    font-size: 22px;
    text-align: center;
    border-bottom: 1px solid #0f0f0f;
}
.lazy,.done{
    width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  background: #211914;
}
.more{
    margin:50px auto 0;
}

/* アクセス */
.test{
    display: flex;
    row-gap: 15px;
    align-items: stretch;
}
.googleMap{
    width: 50%;
    aspect-ratio: 14/9;
    object-fit: contain;
}
.test ul{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 25px;
}
.test .btn{
    margin: 0 auto;
}

/* お問い合わせ */
.contact{
    display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0 0;
  row-gap: 35px;
}
.contact ul{
    text-align: center;
}
/* .contact ul li{

} */
.contact ul li a{
    text-decoration: none;
  display: block;
  font-size: 35px;
  color: #010101;
}
.contact ul li span{
    display: block;
    font-size: 17px;
}
.contact ul li p{
    font-size: 17px;
}
.btn{
    display: block;
    text-align: center;
    width: 300px;
    background: #0f0f0f;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    max-width: 100%;
    padding: 15px 0;
}

@media(max-width:890px) {
    .section {
        margin: 40px 0 100px;
    }
    .lazy,.done{
        aspect-ratio: 16/9;
    }
    .textList li{
        width: calc((100% - 5px)/2);
        aspect-ratio: 7/5;
        justify-content: space-evenly;
        padding: 0px 5px;
    }
    .about{
        font-size: 18px;
    }
    .contact ul li a {
        font-size: 30px;
    }
    .contact ul li p {
        font-size: 15px;
    }
    .btn {
        width: 250px;
    }
    .test{
        display: block;
    }
    .test ul{
        width: 100%;
        display: block;
    }
    .test ul li:last-child{
        margin: 35px auto 0;
    }
    .googleMap{
        width: 100%;
        aspect-ratio: 2/1;
    }
    .imgList li {
        width: calc((100% - 10px) / 2);
    }
}

@media(max-width:550px) {
    .h2{
        font-size: 26px;
    }
    .lazy,.done{
        aspect-ratio: 1/1;
    }
    .textList li{
        aspect-ratio: 1/1;
    }
    .textList li svg{
        width:30px;
        height: 30px;
    }
    .textList li strong{
        font-size: 16px;
    }
    .textList li p{
        font-size: 14px;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -webkit-line-clamp: 3;
        height: 63px;
    }
    .contact{
        flex-direction: column;
    }
    .googleMap{
        aspect-ratio: 16/9;
    }
    .about{
        font-size: 15px;
    }
    .text {
        font-size: 17px;
    }
    .imgList li a {
        font-size: 12px;
    }
    .imgList li strong {
        font-size: 15px;
    }
}