main{
    max-width: 1072px;
    padding: 0 5px;
    margin: 50px auto 50px;
    text-align: center;
}
main strong{
    font-size: 150px;
  	line-height: 1;
}
main .h2{
    font-size: 25px;
  	margin: 0 0 25px;
}
main a{
    display: block;
    text-align: center;
    width: 300px;
    background: #0f0f0f;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    max-width: 100%;
    padding: 15px 0;
    margin: 50px auto 0;
}
