main{
    max-width: 1072px;
    padding: 0 5px;
    margin: 50px auto 0;
}
.h2{
    font-size: 35px;
    color: #211914;
    margin: 15px 20px;
}
.house,.parking{
    margin: 30px 0 65px;
}
.h3{
    font-size: 30px;
}
.label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mapBtn{
    display: block;
    text-align: center;
    width: 200px;
    background: #0f0f0f;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    max-width: 100%;
    padding: 10px 0;
}
.card{
    margin: 10px auto 60px;
}
.googleMap{
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: contain;
    /* border-radius: 5px; */
}
.card ul{
  padding: 5px 20px;
  background: #211914;
}
.card li{
    font-size: 18px;
    margin: 20px 0;
    font-weight: bold;
    color: #e6dddd;
}
.about{
    display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 20px;
  margin: 10px 0 0;
  row-gap: 20px;
}
.about li{
    width: calc((100% - 20px)/2);
}
.about li a{
    display: block;
    color: #0f0f0f;
    font-size: 21px;
    font-weight: bold;
}
.lazy,.done{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    border-radius: 5px;
    background: #211914;
}
.number{
    text-align: center;
    margin: 50px 0;
}
.number p{
    font-size: 20px;
    font-weight: bold;
}
.number a{
    font-size: 30px;
    color: #276fdb;

}

@media(max-width:890px) {
    .card ul {
        padding: 5px 20px;
    }
    .card li {
        font-size: 16px;
    }
    .googleMap{
        aspect-ratio: 2/1;
    }
}

@media(max-width:550px) {
    .googleMap{
        aspect-ratio: 16/9;
    }
    .about li{
        width: 100%;
    }
    .about li a{
        font-size: 19px;
    }
    .card ul{
        padding: 10px 10px;
    }
    .card li {
        font-size: 13px;
        margin: 10px 0;
    }
    .h2{
        font-size: 25px;
    }
    .h3 {
        font-size: 25px;
    }
    .mapBtn{
        font-size: 15px;
        width: 150px;
    }
}